---
import Contact from "@components/Contact.astro";
import Experiences from "@components/Experiences.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Presentation from "@components/Presentation.astro";
import References from "@components/References.astro";
import labels from "@content/_labels.json";
import { SEO } from "astro-seo";

export function getStaticPaths() {
  return [
    { params: { locale: "en" as const } },
    { params: { locale: undefined } },
  ];
}

const locale = Astro.params.locale ?? "fr";
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title="Nicolas Rio"
      description={labels.seo.description[locale]}
      openGraph={{
        basic: {
          title: "Nicolas Rio",
          type: "website",
          image: `${Astro.site?.toString()}open-graph-${locale}.jpg`,
        },
      }}
    />
  </head>

  <body font-sans>
    <main>
      <div w-full h-8 bg-gray-600></div>

      <div max-w-170 mx-auto px-4>
        <Header locale={locale} />

        <Presentation locale={locale} />

        <Experiences locale={locale} />

        <References locale={locale} />

        <Contact />
      </div>

      <Footer locale={locale} />
    </main>

    <div fixed bottom-4 right-4 flex="~ col gap-2">
      <div id="menu-container" flex="~ col gap-2">
        <article
          id="menu-content"
          p-2
          bg-white
          rounded
          shadow-2xl
          text-primary
          class="hidden"
        >
          <ul>
            <li>
              <a href="#experiences">{labels.experiences.heading[locale]}</a>
            </li>

            <li>
              <a href="#references">{labels.references.heading[locale]}</a>
            </li>

            <li>
              <a href="#contact">CONTACT</a>
            </li>
          </ul>
        </article>

        <button
          type="button"
          id="menu-btn"
          bg-white
          rounded
          border="solid 1 primary"
          text-primary
          flex
          items-center
          gap-2
          py-1
          px-2
        >
          <i i-carbon-menu inline-block w-5 h-5></i>

          Menu
        </button>
      </div>

      <a
        href={locale === "fr" ? "/en" : "/"}
        class="bg-white rounded border-solid border-1 border-primary text-primary flex items-center gap-2 py-1 px-2"
      >
        <i i-carbon-translate inline-block w-5 h-5></i>

        {locale === "fr" ? "English" : "Français"}
      </a>
    </div>
  </body>
</html>

<script>
  (function () {
    const menuBtn = document.getElementById("menu-btn");
    const menuContent = document.getElementById("menu-content");
    const menuContainer = document.getElementById("menu-container");

    if (menuBtn === null || menuContent === null || menuContainer === null)
      return;

    menuBtn.addEventListener("click", () =>
      menuContent.classList.toggle("hidden")
    );

    addEventListener("click", (e) => {
      if (menuContainer.contains(e.target as unknown as HTMLElement)) return;
      menuContent.classList.add("hidden");
    });
  })();
</script>
