---
import Experiences from "@components/Experiences.astro";
import Header from "@components/Header.astro";
import Presentation from "@components/Presentation.astro";

export function getStaticPaths() {
  return [
    { params: { locale: "en" as const } },
    { params: { locale: undefined } },
  ];
}

const locale = Astro.params.locale ?? "fr";
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body font-sans pb-12>
    <main max-w-170 mx-auto px-4>
      <Header locale={locale} />

      <Presentation locale={locale} />

      <Experiences locale={locale} />
    </main>

    <a
      href={locale === "fr" ? "/en" : "/"}
      class="fixed bottom-4 right-4 bg-white rounded border-solid border-1 border-primary text-primary flex items-center gap-2 py-1 px-2"
    >
      <i i-carbon-translate inline-block w-5 h-5></i>

      {locale === "fr" ? "English" : "Français"}
    </a>
  </body>
</html>
