---
import Experiences from "@components/Experiences.astro";
import Header from "@components/Header.astro";
import Presentation from "@components/Presentation.astro";

export function getStaticPaths() {
  return [
    { params: { locale: "en" as const } },
    { params: { locale: undefined } },
  ];
}

const locale = Astro.params.locale ?? "fr";
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body font-sans>
    <main max-w-170 mx-auto px-4>
      <Header locale={locale} />

      <Presentation locale={locale} />

      <Experiences locale={locale} />
    </main>
  </body>
</html>
